body{
    
    color: black;
    

}

h1{
    margin: 0;
    text-align: center;
}
nav li{
    padding: 5px 30px;
    display:inline-block;
    
}
nav a{
    padding: 20px 100px;
    display: inline-block;
    color: yellow;
    text-decoration: none;
}
div p{
    height: 100px;
}

header, body, nav{
    display: block;
    background-image: url(http://drive.google.com/uc?export=view&id=1AwoggbSMJbDyrrUehQJaGE9vJW0oBL4X);
    background-size: cover;
}