{% extends "layout.html" %}

{% block content %}

<body>
    <div class="card" style="margin-left: -100px; width: 200px" alt="pizza">
        <img src="https://www.lavanguardia.com/files/og_thumbnail/files/fp/uploads/2021/03/30/6063031b90a87.r_d.1083-871-0.jpeg"
            class="card-img-top" />

        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">La mejor pizza.</p>
            <a href="about" class="btn btn-primary">AL menu</a>
        </div>
    </div>
</body>




{% endblock %}