{% extends "layout.html" %}

{% block content %}

<body>
    <section>
    </section>
    <section>
        <div class="row">
            <div class="col">
                <div class="card" style="margin-left: -200px; width: 200px; margin-top: 50px; background: goldenrod;">
                    <img src="http://drive.google.com/uc?export=view&id=1x1Z5Sq1wi3SIrccIXoNVwc45QjYuaHX7"
                        class="card-img-top" alt="logo" />
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">La mejor pizza.</p>
                        <a href="about" class="btn btn-primary">Al menu</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="margin-left: -400px; width: 200px; margin-top: 50px;">
                    <img src="http://drive.google.com/uc?export=view&id=1x1Z5Sq1wi3SIrccIXoNVwc45QjYuaHX7"
                        class="card-img-top" alt="logo" />
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">La mejor Comida China.</p>
                        <a href="about" class="btn btn-primary">Al menu</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="row">
            <div class="col">
                <div class="card" style="margin-left: -200px; width: 200px; margin-top: 50px; background: goldenrod;">
                    <img src="http://drive.google.com/uc?export=view&id=1x1Z5Sq1wi3SIrccIXoNVwc45QjYuaHX7"
                        class="card-img-top" alt="logo" />
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">La mejor pizza.</p>
                        <a href="about" class="btn btn-primary">Al menu</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="margin-left: -400px; width: 200px; margin-top: 50px;">
                    <img src="http://drive.google.com/uc?export=view&id=1x1Z5Sq1wi3SIrccIXoNVwc45QjYuaHX7"
                        class="card-img-top" alt="logo" />
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">La mejor Comida China.</p>
                        <a href="about" class="btn btn-primary">Al menu</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>




{% endblock %}