{% extends "layout.html" %}

{% block content %}


<div class="nav2">
    <ul class="nav nav-justified">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#COMBOS">Combos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  href="#ENTREMESES">Entremeses</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="">Arroz</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="">Chopsuey</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="">Fideos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="">Pollo</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="">Carnes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="">Cerdo</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="">Vegetales</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="">Sopas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="">Bebidas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="">Extras</a>
        </li>
    </ul>
</div>
<div class="Menucompleto">
    <div class="titulomenus">
        <h2 id="COMBOS">COMBOS</h2>
    </div>
    <div id="containermenu1" class="containerseccion">
    </div>
    <div id="containermenu2" class="containerseccion">
    </div>
    <div class="titulomenus">
        <h2 id="ENTREMESES">ENTREMESES</h2>
    </div>
</div>


{% endblock %}