{% extends "layout.html" %}

{% block content %}

<div class="container2 text-left">
    <a class="phone">
        Entremeses
    </a>
    <a class="phone">
        Arroz
    </a>
    <a class="phone">
        ChopSuey
    </a>
    <a class="phone">
        Fideos
    </a>
    <a class="phone">
        Pollo
    </a>
    <a class="phone">
        Carnes
    </a>
    <a class="phone">
        Cerdo
    </a>
    <a class="phone">
        Vegetales
    </a>
    <a class="phone">
        Sopas
    </a>
    <a class="phone">
        Bebidas
    </a>
    <a class="phone">
        Extras
    </a>

    <a class="tabletv1">
        column
    </a>
    <a class="tablet">
        column
    </a>
    <div class="row justify-content-md-center">
        <div class="col-md-10">
            <a class="desktop" href="#">
                Entremeses
            </a>
            <a class="desktop" href="#">
                Arroz
            </a>
            <a class="desktop">
                ChopSuey
            </a>
            <a class="desktop">
                Fideos
            </a>
            <a class="desktop">
                Pollo
            </a>
            <a class="desktop">
                Carnes
            </a>
            <a class="desktop">
                Cerdo
            </a>
            <a class="desktop">
                Vegetales
            </a>
            <a class="desktop">
                Sopas
            </a>
            <a class="desktop">
                Bebidas
            </a>
            <a class="desktop">
                Extras
            </a>
        </div>
    </div>
</div>
<div class="nav2">
    <ul class="nav nav-justified">
        <li class="desktop2 nav-item">
            <a class="nav-link active" aria-current="page" href="">Combos</a>
        </li>
        <li class="desktop2 nav-item">
            <a class="nav-link" href="">Entremeses</a>
        </li>
        <li class="desktop2 nav-item">
            <a class="nav-link" href="">Chopsuey</a>
        </li>
        <li class="desktop2 nav-item">
            <a class="nav-link" href="">Fideos</a>
        </li>
        <li class="desktop2 nav-item">
            <a class="nav-link" href="">Pollo</a>
        </li>
        <li class="desktop2 nav-item">
            <a class="nav-link" href="">Carnes</a>
        </li>
        <li class="desktop2 nav-item">
            <a class="nav-link" href="">Cerdo</a>
        </li>
        <li class="desktop2 nav-item">
            <a class="nav-link" href="">Vegetales</a>
        </li>
        <li class="desktop2 nav-item">
            <a class="nav-link" href="">Sopas</a>
        </li>
        <li class="desktop2 nav-item">
            <a class="nav-link" href="">Bebidas</a>
        </li>
        <li class="desktop2 nav-item">
            <a class="nav-link" href="">Extras</a>
        </li>


        <li class="desktop3 nav-item">
            <a class="nav-link active" aria-current="page" href="">Combos</a>
        </li>
        <li class="desktop3 nav-item">
            <a class="nav-link" href="">Entremeses</a>
        </li>
        <li class="desktop3 nav-item">
            <a class="nav-link" href="">Chopsuey</a>
        </li>
        <li class="desktop3 nav-item">
            <a class="nav-link" href="">Fideos</a>
        </li>
        <li class="desktop3 nav-item">
            <a class="nav-link" href="">Pollo</a>
        </li>
        <li class="desktop3 nav-item">
            <a class="nav-link" href="">Carnes</a>
        </li>
        <li class="desktop3 nav-item">
            <a class="nav-link" href="">Cerdo</a>
        </li>
        <li class="desktop3 nav-item">
            <a class="nav-link" href="">Vegetales</a>
        </li>
        <li class="desktop3 nav-item">
            <a class="nav-link" href="">Sopas</a>
        </li>
        <li class="desktop3 nav-item">
            <a class="nav-link" href="">Bebidas</a>
        </li>
        <li class="desktop3 nav-item">
            <a class="nav-link" href="">Extras</a>
        </li>


        <li class="desktop4 nav-item">
            <a class="nav-link active" aria-current="page" href="">Combos</a>
        </li>
        <li class="desktop4 nav-item">
            <a class="nav-link" href="">Entremeses</a>
        </li>
        <li class="desktop4 nav-item">
            <a class="nav-link" href="">Chopsuey</a>
        </li>
        <li class="desktop4 nav-item">
            <a class="nav-link" href="">Fideos</a>
        </li>
        <li class="desktop4 nav-item">
            <a class="nav-link" href="">Pollo</a>
        </li>
        <li class="desktop4 nav-item">
            <a class="nav-link" href="">Carnes</a>
        </li>
        <li class="desktop4 nav-item">
            <a class="nav-link" href="">Cerdo</a>
        </li>
        <li class="desktop4 nav-item">
            <a class="nav-link" href="">Vegetales</a>
        </li>
        <li class="desktop4 nav-item">
            <a class="nav-link" href="">Sopas</a>
        </li>
        <li class="desktop4 nav-item">
            <a class="nav-link" href="">Bebidas</a>
        </li>
        <li class="desktop4 nav-item">
            <a class="nav-link" href="">Extras</a>
        </li>


        <li class="desktop5 nav-item">
            <a class="nav-link active" aria-current="page" href="">Combos</a>
        </li>
        <li class="desktop5 nav-item">
            <a class="nav-link" href="">Entremeses</a>
        </li>
        <li class="desktop5 nav-item">
            <a class="nav-link" href="">Chopsuey</a>
        </li>
        <li class="desktop5 nav-item">
            <a class="nav-link" href="">Fideos</a>
        </li>
        <li class="desktop5 nav-item">
            <a class="nav-link" href="">Pollo</a>
        </li>
        <li class="desktop5 nav-item">
            <a class="nav-link" href="">Carnes</a>
        </li>
        <li class="desktop5 nav-item">
            <a class="nav-link" href="">Cerdo</a>
        </li>
        <li class="desktop5 nav-item">
            <a class="nav-link" href="">Vegetales</a>
        </li>
        <li class="desktop5 nav-item">
            <a class="nav-link" href="">Sopas</a>
        </li>
        <li class="desktop5 nav-item">
            <a class="nav-link" href="">Bebidas</a>
        </li>
        <li class="desktop5 nav-item">
            <a class="nav-link" href="">Extras</a>
        </li>

        <li class="desktop6 nav-item">
            <a class="nav-link active" aria-current="page" href="">Combos</a>
        </li>
        <li class="desktop6 nav-item">
            <a class="nav-link" href="">Entremeses</a>
        </li>
        <li class="desktop6 nav-item">
            <a class="nav-link" href="">Arroz</a>
        </li>
        <li class="desktop6 nav-item">
            <a class="nav-link" href="">Chopsuey</a>
        </li>
        <li class="desktop6 nav-item">
            <a class="nav-link" href="">Fideos</a>
        </li>
        <li class="desktop6 nav-item">
            <a class="nav-link" href="">Pollo</a>
        </li>
        <li class="desktop6 nav-item">
            <a class="nav-link" href="">Carnes</a>
        </li>
        <li class="desktop6 nav-item">
            <a class="nav-link" href="">Cerdo</a>
        </li>
        <li class="desktop6 nav-item">
            <a class="nav-link" href="">Vegetales</a>
        </li>
        <li class="desktop6 nav-item">
            <a class="nav-link" href="">Sopas</a>
        </li>
        <li class="desktop6 nav-item">
            <a class="nav-link" href="">Bebidas</a>
        </li>
        <li class="desktop6 nav-item">
            <a class="nav-link" href="">Extras</a>
        </li>

    </ul>
</div>


<div class="desktop2">
    <div class="titulomenus">
        <h2>ENTREMESES</h2>
    </div>
</div>
<div class="desktop3">
    <div class="titulomenus">
        <h2>ENTREMESES</h2>
    </div>
</div>
<div class="desktop4">
    <div class="titulomenus">
        <h2>ENTREMESES</h2>
    </div>
</div>
<div class="desktop5">
    <div class="titulomenus">
        <h2>ENTREMESES</h2>
    </div>
</div>
<div class="desktop6">
    <div class="titulomenus">
        <h2>ENTREMESES</h2>
    </div>
</div>



{% endblock %}